@model DJMData.TrainingProductViewModel
@{
    ViewBag.Title = "Daniel's Training Company";
}



@using (Html.BeginForm())
{

    <!-- BEGIN HIDDEN FIELDS ARE-->

    @Html.HiddenFor((m => m.EventCommand))
    <!-- END HIDDEN FIELDS ARE-->


    <!-- BEGIN SEARCH AREA -->

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Search For Products</h1>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.SearchEntity.ProductName, "Produt Name")
                @Html.TextBoxFor(m => m.SearchEntity.ProductName,
               new { @class = "form-control" })
            </div>
        </div>

        <div class="panel-footer">
            <button id="btnSearch" class="btn btn-sm btn-primary"
                    data-djm-action="search">
                <i class="glyphicon glyphicon-search"></i> &nbsp;
                Search

            </button> <!--Value here has to match with case in view model-->
            <button id="btnReset" class="btn btn-sm btn-primary"
                    data-djm-action="resetsearch">
                <i class="glyphicon glyphicon-share-alt"></i> &nbsp;Reset
            </button>
        </div>

    </div>
    <!-- END SEARCH AREA -->


    <!-- BEGIN LIST AREA -->
     <!-- BEGIN GRID AREA -->
    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Introduction Date</th>
                    <th>Url</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.IntroductionDate</td>
                        <td>@item.Url</td>
                        <td>@item.Price.ToString("c")</td> <!-- Express as currency-->
                    </tr>
                }
            </tbody>
        </table>
    </div>
   <!-- END GRID AREA -->

    <!-- END LIST AREA -->

}
@section scripts{
    <script>
        $(document).ready(function ()
        {
            $("data-djm-action").on("click", function (e) {
                e.preventDefault(); // Prevent default action to happen

                $("#EventCommand").value($(this).data("data-djm-action")); // Bind event command on hidden field, grab is data
            


                $("form").submit(); // Submit  back to the controller on the post
            });
        });

    </script>
}
